(tinyauth_forwarder) {
    forward_auth tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Name Remote-Email Remote-Groups
    }
}

http://{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy static-web-server:80
}

http://auth.{$MY_DOMAIN} {
    reverse_proxy tinyauth:3000
}

http://tasks.{$MY_DOMAIN} {
    reverse_proxy vikunja:3456
}

http://nextcloud.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy nextcloud:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://actual.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy actual_server:5006
}

http://komodo.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy http://komodo_core:9120
}

http://dozzle.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy dozzle:8080
}

http://pdf.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy stirling-pdf:8080
}

http://arcane.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy arcane:3552
}
http://dockge.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy dockge:5001
}
http://backrest.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy backrest:9898
}   