(tinyauth_forwarder) {
    forward_auth tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Name Remote-Email Remote-Groups
    }
}

http://auth.{$MY_DOMAIN} {
    reverse_proxy tinyauth:3000
}

http://tasks.{$MY_DOMAIN} {
    reverse_proxy vikunja:3456
}

http://nextcloud.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy nextcloud:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://actual.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy actual_server:5006
}

http://dozzle.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy dozzle:8080
}

http://pdf.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy stirling-pdf:8080
}

http://backrest.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy backrest:9898
}

http://homepage.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy homepage:3000
}

http://{$MY_DOMAIN} {
    handle /static/* {
        root * /srv/blog
        file_server
    }
    
    handle /media/* {
        root * /srv/blog
        file_server
    }
    
    handle /admin* {
        import tinyauth_forwarder
        reverse_proxy blog:8000
    }
    
    reverse_proxy blog:8000
}

http://llm.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy open-webui:8080
}

http://n8n.{$MY_DOMAIN} {
    import tinyauth_forwarder
    reverse_proxy n8n:5678
}

http://authentik.{$MY_DOMAIN} {
    reverse_proxy authentik-server:9000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-For {remote_host}
        header_up Host {host}
    }
}

