services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja
    restart: unless-stopped
    env_file:
      - ../config/env/vikunja/.env
    volumes:
      - ../config/volumes/vikunja/files:/app/vikunja/files
      - ../config/volumes/vikunja/db:/db
      - ../config/volumes/vikunja/config:/etc/vikunja
    networks:
      - proxy

networks:
  proxy:
    external: true
